<div class="form-content">
  <h2 class="form-title">Pending Schedules</h2>

  <div class="form-body">
    <div *ngIf="unapprovedSchedules && unapprovedSchedules.length > 1">
      <div *ngFor="let schedule of unapprovedSchedules">
        <div class="card">

          <h4>{{ schedule.firstName }} {{ schedule.lastName }}</h4>
          <p>Date: {{ schedule.date }}</p>

          <p>
            Shift: {{ schedule.shift === 'Morning' ? 'Morning' : 'Evening' }}
          </p>

          <button class="btn green-btn" (click)="approveSchedule(schedule.id)" style="margin-right: 1%">
            Approve
          </button>
          <button class="btn red-btn" (click)="declineSchedule(schedule.id)">
            Decline
          </button>
        </div>

      </div>
    </div>
  </div>

</div>