<div class="worker-panel-wrapper">
  <app-schedule></app-schedule>

  <form (ngSubmit)="addSchedule()" #scheduleForm="ngForm" class="form-content">
    <div style="align-items: center; display: flex;">
      <label for="date" style="font-size: 20px; margin-right: 10px;">Choose Date:</label>
      <div style="margin-right: 5px;">
        <input type="date" id="date" name="date" [(ngModel)]="scheduleDate" class="form-control" required>
      </div>
    </div>

    <!-- Fix Classes -->
    <div class="card">
      <label class="form-label" style="font-size: 20px;"> Shift:</label>
      <div class="btn-group" role="group" aria-label="Shift Selection" style="margin-left: 10px; display: flex;">
        <button type="button" (click)="setShift('morning')"
          [class]="selectedShift === 'morning' ? 'btn green-btn' : 'btn green-btn'">
          Morning
        </button>
        <button type="button" (click)="setShift('evening')"
          [class]="selectedShift === 'evening' ? 'btn red-btn' : 'btn red-btn'">
          Evening
        </button>
      </div>
    </div>

    <button type="submit" class="btn general-btn">Add Schedule</button>
  </form>
</div>