@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
main {
  width: 100%;
  min-height: 100dvh;
}

nav {
  width: 100%;
  background-color: var(--darkGreen);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  margin-bottom: 40px;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.35);
}

nav .logo {
  margin-block: auto;
  font-size: 28px;
}

nav .info {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 0.7rem;
}

nav svg {
  width: 32px;
  height: 32px;
  fill: #fff;
  cursor: pointer;
  transition: .1s ease-out;
}

nav svg:hover {
  scale: 1.15;
  fill: rgb(30, 140, 92);}

button {
  display: block;
  border-radius: 0.5rem;
  padding: 5px 10px;
  font-size: 15px;
  text-transform: capitalize;
  background-color: black;
  color: white;
  cursor: pointer;
  text-align: center;
}
