.wrapper-sign-up {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  height: fit-content;
  padding-inline-start: 200px;
  background-color: var(--lightGreen);
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 5rem 3rem;
}

.form-wrapper form > div {
  display: flex;
  flex-direction: column;
}

.form-wrapper form input {
  outline: none;
  border: none;
}

/* CUSTOMIZE SELECT INPUT */
.form-wrapper form select {
  border: none;
  outline-offset: 0;
}

.form-wrapper form select:hover {
  border: 0;
}
